<app-nav-bar></app-nav-bar>
<div class="movies-container">
  <mat-card *ngFor='let movie of movies; let i=index;' class="movie-card-container">
    <mat-card-header class="movie-card-header">
      <mat-card-title class="movie-card-title">
        {{movie.Title}}
      </mat-card-title>
      <button>
        <mat-icon>
          <span>
            star_outline
          </span>
          <ng-template>
            star
          </ng-template>
        </mat-icon>
      </button>
    </mat-card-header>
    <img src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-actions>
      <button class="card-btn" mat-stroked-button (click)='showGenreDialog(movie.Genre.Name,movie.Genre.Description)'>
        Genre
      </button>
      <button>
        Director
      </button>
      <button>
        Summary
      </button>
    </mat-card-actions>
  </mat-card>
</div>