<app-nav-bar></app-nav-bar>

<div class="profile-card-container">
  <div class="profile-card-wrapper">
    <div class="profile-info">
      <h1 class="h1">Profile Data</h1>
      <div class="general-info">
        <p class="label">
          Username
        </p>
        <p>
          {{user.Username}}
        </p>
        <p class="label">
          Email
        </p>
        <p>
          {{user.Email}}
        </p>
        <p class="label">
          Birthday
        </p>
        <p>
          {{user.Birthday}}
        </p>
      </div>
    </div>


    <button class="btn" mat-raised-button>
      Update My Profile
    </button>
    <button class="btn" mat-raised-button>
      Delete My Profile
    </button>

  </div>

  <div class="favouriteMovies">
    <h1 class="h1">
      My Favourite Movies
    </h1>
    <div class="favouriteMovieCard" *ngFor="let favouriteMovie of favouriteMovies">
      <div class="card-header">
        <h2 class="h2">
          {{favouriteMovie.Title}}
        </h2>
        <h3 class="h3">
          {{favouriteMovie.Director.Name}}
        </h3>
      </div>
      <mat-card-actions>
        <mat-icon (click)="unfavouriteOneMovie(favouriteMovie._id, favouriteMovie.Title)">
          <span>
            delete
          </span>
        </mat-icon>
      </mat-card-actions>
    </div>

  </div>
</div>